extends layout

block content
  if authorised
    p Welcome #{fname} |
      a(href="/exit") Log Out

    form(action='/change', method='POST')
      label(for='email')
        b Email
      input#email(type='text', placeholder='Curr Password', name='email',value='#{fname}', required='required')
      label(for='currPass')
        b Current Password
      input#currPass(type='text', placeholder='Curr Password', name='currPass', required='required')
      label(for='psw')
        b Password
      input#psw(type='password', placeholder='New Password', name='psw', required='required')
      label(for='pswrepeat')
        b Repeat Password
      input#pswrepeat(type='password', placeholder='Repeat Password', name='pswrepeat', required='required')
      label(for='fname')
        b Full Name
      button(type='submit') Change

  else
    p Don't have an account yet?
      a(href='/register') Register
    p Already have an account?
      a(href='/login') Login
    p Change Password !
      a(href='/change') Change